@page "/Account/AccessDenied"
@using InventorySystem.WebUI.Components.Layout
@using NetcodeHub.Packages.UI.Templates.Breeze
@layout MainLayout

@* <TwoSectionsTemplate>
    <Col12Template>
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning">
                    <h4 class="alert-heading">Access Denied</h4>
                    <p>You do not have permission to access this page.</p>
                </div>
            </div>
        </div>
    </Col12Template>
    <FooterTemplate></FooterTemplate>
</TwoSectionsTemplate> *@